.submission-guide-container {
  border: 5px solid black;
  padding: 20px;
  text-align: center;
  height: 180vh;
  background: linear-gradient(to bottom, #bababa, #ffffff);
}

.submission-guide-container p.formatted-text {
  white-space: pre-line;
  list-style-position: inside; 
}

.submission-guide-container h1 {
  font-size: 2.5rem;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  border-bottom: 3px solid #000000;
  padding-bottom: 0.5rem;
}
