.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  text-align: center;
  padding: 2rem;
  background: linear-gradient(to top, #bababa, #ffffff);
}

.about-container p {
  white-space: pre-line;
}

.about-container h1 {
  border-bottom: 3px solid #000000;
}
