.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  text-align: center;
  padding: 2rem;
  padding-bottom: 10rem;
  background: linear-gradient(to top, #bababa, #ffffff);
  margin-bottom: 5rem;
}

.about-container p {
  white-space: pre-line;
}

.about-container h1 {
  border-bottom: 3px solid #000000;
}

.edit-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
  margin-bottom: 8rem;
}

.edit-section textarea {
  border: 2px solid #333;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  font-family: inherit;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-row {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.white-space-buffer {
  height: 200px;
  width: 100%;
  display: block;
}
