.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    padding-left: 50px;
    padding-bottom: 100px;
}
  
#dropdown-button + .dropdown-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
}